/* Variables */

$primary-fontSize: 0.875rem;
$title-fontSize: 1.375rem;
$primary-fontColor: #6c7279;
$title-fontColor: #2d3033;
$highlight-color: #e84545;
$primary-font: "Raleway",
sans-serif;
$header-font: "Open Sans",
sans-serif;
$testimonials-font: "Cardo",
sans-serif;

/* Global Styles */

body {
    background-color: #fff;
    font-family: $primary-font;
    font-size: $primary-fontSize;
    color: $primary-fontColor;
    font-weight: 400;
    line-height: 1.5;
}


/* [1] Header Wrapper */

#header {
    background: url("/img/header/header.png");
}

.header {
    padding-top: 9.75rem;
    padding-bottom: 6.25rem;
    &__title {
        font-family: $header-font;
        font-weight: 700;
        font-size: 4.063rem
    }
    &__desc {
        padding-top: 2.563rem;
        padding-bottom: 4.375rem;
        font-size: 1.375rem;
    }
    &__button {
        background-color: $highlight-color;
        color: #fff;
        border: 0;
        outline: 0!important;
        cursor: pointer;
        padding: 1.125rem 3.125rem;
        text-transform: uppercase;
        font-size: 0.8125rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        transition: box-shadow .3s;
    }
    &__button:hover {
        opacity: 0.7;
    }
}


/* [1.2] Navigation Menu */

.navbar {
    padding: 2.875rem 0;
    .nav-item {
        color: $primary-fontColor;
        font-weight: 700;
        font-size: 0.8125rem;
        text-transform: uppercase;
        margin-right: 1rem;
        margin-left: 1rem;
        letter-spacing: 0.06em;
    }
    .nav-link {
        color: #cbccd3;
        transition: all 0.5s ease;
    }
    .nav-link:hover {
        color: $highlight-color;
        transition: all 0.5s ease;
    }
}

.hamburger {
    color: #fff !important;
    margin-top: 0.30rem!important;
    outline: 0!important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #fff;
    opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: $highlight-color;
}


/* [2] Features */

.features {
    padding: 6.25rem 0;
    &__title {
        margin: 1.875rem 0;
        font-weight: 700;
        font-size: $primary-fontSize;
        color: $title-fontColor;
    }
}


/* [3] Works */

.works {
    &__image {
        padding: 1px;
        width: 100%;
        height: 100%;
    }
}


/* [4] Our Team */

.card {
    border: 0;
}

.card-body {
    padding: 0;
}

.card-img-top {
    border-radius: 0;
}

.team {
    padding: 6.25rem 0;
}