/* Variables */

$primary-fontSize: 0.875rem;
$title-fontSize: 1.375rem;
$primary-fontColor: #6c7279;
$title-fontColor: #2d3033;
$highlight-color: #e84545;
$primary-font: "Raleway",
sans-serif;
$header-font: "Open Sans",
sans-serif;
$testimonials-font: "Cardo",
sans-serif;

/* Global Styles */

body {
    position: relative;
    background-color: #fff;
    font-family: $primary-font;
    font-size: $primary-fontSize;
    color: $primary-fontColor;
    font-weight: 400;
    line-height: 1.5;
}


/* [1] Navigation Menu */

.navbar {
    padding: 2.875rem 0;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 2;
    &--border {
        border-bottom: 1px solid $primary-fontColor;
        padding-bottom: 2.875rem;
        transition: all 200ms linear;
    }
    .nav-item {
        color: $primary-fontColor;
        font-weight: 700;
        font-size: 0.8125rem;
        text-transform: uppercase;
        margin-right: 1rem;
        margin-left: 1rem;
        letter-spacing: 0.06em;
    }
    .nav-link {
        color: #cbccd3;
        transition: all 0.5s ease;
    }
    .nav-link:hover {
        color: $highlight-color;
        transition: all 0.5s ease;
    }
    .nav-link.active {
        color: $highlight-color!important;
    }
}

.hamburger {
    color: #fff !important;
    margin-top: 0.30rem!important;
    outline: 0!important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #fff;
    opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: $highlight-color;
}

.is-active {
    padding: 2rem 0;
    background-color: #2a2f49;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    transition: all 200ms linear;
}

.is-active .navbar--border {
    border: 0;
    padding: 0;
    transition: all 200ms linear;
}


/* [2] Header */

#header {
    background: url("/img/header/header.png");
    padding-top: 125px;
}

.header {
    padding-top: 9.75rem;
    padding-bottom: 6.25rem;
    &__title {
        font-family: $header-font;
        font-weight: 700;
        font-size: 4.063rem
    }
    &__desc {
        padding-top: 2.563rem;
        padding-bottom: 4.375rem;
        font-size: 1.375rem;
    }
    &__button {
        background-color: $highlight-color;
        color: #fff;
        border: 0;
        outline: 0!important;
        cursor: pointer;
        padding: 1.125rem 3.125rem;
        text-transform: uppercase;
        font-size: 0.8125rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        transition: all 0.5s ease;
    }
    &__button:hover {
        transition: all 0.5s ease;
        background-color: #3a3e64;
    }
}


/* [3] Features */

.features {
    padding: 6.25rem 0;
    &__title {
        margin: 1.875rem 0;
        font-weight: 700;
        font-size: $primary-fontSize;
        color: $title-fontColor;
    }
}


/* [4] Works */

.works {
    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;
    }
    &__column {
        position: relative;
        display: inline-block;
        flex: 1;
        padding: 2px;
        transition: all 0.5s ease;
    }
    &__link {
        display: inline-block;
        background-color: rgba($highlight-color, 0.8);
    }
    &__image {
        width: 100%;
        height: auto;
    }
    &__column:hover &__image {
        transition: all 0.5s ease;
        opacity: 0.5;
    }
    &__column:hover &__title {
        transition: all 0.5s ease;
        opacity: 1;
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        text-align: center;
        opacity: 0;
        color: #fff;
        transition: all 0.5s ease;
    }
    &__project,
    &__desc {
        font-size: $primary-fontSize;
        letter-spacing: 0.08em;
    }
    &__project {
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
    }
    &__desc {
        font-weight: 400;
    }
}


/* [5] Our Team */

.card {
    border: 0;
}

.card-body {
    padding: 0;
}

.card-img-top {
    border-radius: 0;
}

.card-title {
    margin-bottom: 0;
}

.team {
    padding: 6.25rem 0;
    &__title {
        padding: 1.375rem 0
    }
    &__name {
        font-weight: 400;
        font-size: $title-fontSize;
        margin-bottom: 0.375rem;
    }
    &__position {
        font-weight: 400;
        font-size: 0.8125rem;
        color: $highlight-color;
        text-transform: uppercase;
    }
    &__socials--border {
        border: 1px solid #c6cacc;
    }
    &__socials--link:hover {
        text-decoration: none;
    }
    &__socials--link:hover &__socials--border {
        background-color: $highlight-color;
        transition: all 0.5s ease;
    }
    &__socials--facebook {
        padding: 12px 17px;
    }
    &__socials--twitter {
        padding: 14px 11px;
    }
    &__socials--linkedin {
        padding: 13px 13px;
    }
}


/* [6] Testimonials */

.testimonials {
    background-color: #53354a;
    &__block {
        margin: 0 4.375rem;
    }
    &__title {
        font-size: 2.25rem;
        font-family: $testimonials-font;
        color: #fff;
    }
    &__author {
        padding: 1.875rem 0 4rem;
        font-size: 0.8125rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
    }
}

.owl-dot {
    outline: none!important;
}


/* [7] Contact */

.contact {
    padding: 6.25rem 0;
    &__title--text {
        color: $title-fontColor;
        font-weight: 700;
        font-size: 2rem;
        padding: 0 1rem 3rem;
        text-align: center;
    }
    &__button {
        background-color: $highlight-color;
        color: #fff;
        border: 0;
        outline: 0!important;
        padding: 1.125rem 3.125rem;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 0.8125rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        transition: all 0.5s ease;
    }
    &__button:hover {
        transition: all 0.5s ease;
        background-color: #3a3e64;
    }
    &__button:active {
        color: green;
    }
}

.form-control:focus {
    background-color: #fff;
    border-color: $highlight-color;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($highlight-color, .25);
}

::placeholder {
    font-size: $primary-fontSize;
    color: $primary-fontColor;
}


/* [8] Footer */

.footer {
    padding: 6.25rem 0 3.25rem;
    background-color: #3a3e64;
    text-align: center;
    &__title {
        color: #fff;
        font-size: $primary-fontSize;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1.375rem;
    }
    &__text {
        font-size: $primary-fontSize;
        font-weight: 400;
        line-height: 1.5em;
    }
    &__socials--border {
        border: 2px solid #fff;
    }
    &__socials--link:not(:last-child) {
        margin-right: 0.5rem;
    }
    &__socials--link:hover {
        text-decoration: none;
    }
    &__socials--link:hover &__socials--border {
        background-color: $highlight-color;
        transition: all 0.5s ease;
    }
    &__socials--facebook {
        padding: 12px 17px;
    }
    &__socials--twitter {
        padding: 14px 11px;
    }
    &__socials--linkedin {
        padding: 13px 13px;
    }
}


/* [9] Copyright */

.copyright {
    background-color: #313454;
    padding: 1.875rem 0;
    &__title,
    &__text {
        font-size: $primary-fontSize;
    }
    &__text {
        margin-bottom: 0;
    }
    &__link {
        color: #fff;
        font-weight: 700;
        transition: all 0.5s ease;
    }
    &__link:hover {
        color: $highlight-color;
        text-decoration: none;
        transition: all 0.5s ease;
    }
}


/* Media Queries */

@media (max-width: 767.98px) {
    .works__row {
        display: block;
    }
}

@media only screen and (max-width: 576px) {
    .header {
        padding-top: 6.25rem;
        &__title {
            font-size: 2.8rem;
        }
        &__desc {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .features__text {
        font-size: 0.75rem;
    }
    .contact__title--text {
        font-size: 1.5rem;
    }
    .testimonials__block {
        margin-top: 3rem;
    }
    .testimonials__title {
        font-size: 1.25rem;
    }
    .testimonials__author {
        font-size: 0.7125rem;
    }
    .copyright__title,
    .copyright__text {
        font-size: 0.775rem;
    }
}