<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>ActiveBox</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:400,700|Raleway:300,400,600,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <!-- Hamburgers CSS -->
    <link rel="stylesheet" href="/hamburgers/dist/hamburgers.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Structure -->

    <!-- [1] Header Wrapper -->
    <!-- [1.2] Navigation Menu -->
    <!-- [3] Features -->
    <!-- [4] Works -->
    <!-- [5] Our Team -->
    <!-- [6] Testimonials -->
    <!-- [7] Contact -->
    <!-- [8] Footer -->

</head>

<body>

    <!-- [1] Header Wrapper -->
    <header class="container-fluid" id="header">

        <!-- [1.2] Navigation Menu -->
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <img src="/img/header/logo.png" alt="logo">

                <button class="hamburger hamburger--stand" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="mainNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#" title="features">features</a>
                        <a class="nav-item nav-link" href="#" title="works">works</a>
                        <a class="nav-item nav-link" href="#" title="our team">our team</a>
                        <a class="nav-item nav-link" href="#" title="testimonials">testimonials</a>
                        <a class="nav-item nav-link" href="#" title="contact">contact</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- [1.2] Navigation Menu End -->

        <div class="container header">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center text-white">
                    <h1 class="header__title">
                        Your Favorite One Page Multi Purpose Template
                    </h1>
                    <h2 class="header__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et.
                    </h2>
                    <button type="button" class="header__button">
                        Find Out More
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!-- [1] Header Wrapper End-->

    <!-- jQuery, Popper.js, Bootstrap 4 -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/script.js"></script>

</body>

</html>