<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>ActiveBox</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:400,700|Raleway:300,400,600,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <!-- Hamburgers CSS -->
    <link rel="stylesheet" href="/hamburgers/dist/hamburgers.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Structure -->

    <!-- [1] Header Wrapper -->
    <!-- [1.2] Navigation Menu -->
    <!-- [2] Features -->
    <!-- [3] Works -->
    <!-- [4] Our Team -->
    <!-- [5] Testimonials -->
    <!-- [6] Contact -->
    <!-- [7] Footer -->

</head>

<body>

    <!-- [1] Header Wrapper -->
    <header class="container-fluid" id="header">

        <!-- [1.2] Navigation Menu -->
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <img src="/img/header/logo.png" alt="logo">

                <button class="hamburger hamburger--stand navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="mainNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#" title="features">features</a>
                        <a class="nav-item nav-link" href="#" title="works">works</a>
                        <a class="nav-item nav-link" href="#" title="our team">our team</a>
                        <a class="nav-item nav-link" href="#" title="testimonials">testimonials</a>
                        <a class="nav-item nav-link" href="#" title="contact">contact</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- [1.2] Navigation Menu End -->

        <div class="container header">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center text-white">
                    <h1 class="header__title">
                        Your Favorite One Page Multi Purpose Template
                    </h1>
                    <h2 class="header__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et.
                    </h2>
                    <button type="button" class="header__button">
                        Find Out More
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!-- [1] Header Wrapper End-->

    <!-- [2] Features -->
    <div class="container features">

        <div class="row text-center mx-0 mb-5">
            <div class="col-md-4">
                <img src="/img/features/features-icon-1.png" alt="features" class="features__image">
                <h2 class="features__title">
                    Easily Customised
                </h2>
                <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/features/features-icon-2.png" alt="features" class="features__image">
                <h2 class="features__title">
                    Responsive Ready
                </h2>
                <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/features/features-icon-3.png" alt="features" class="features__image">
                <h2 class="features__title">
                    Modern Design
                </h2>
                <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
        </div>

        <div class="row text-center mx-0">
            <div class="col-md-4">
                <img src="/img/features/features-icon-4.png" alt="features" class="features__image">
                <h2 class="features__title">
                    Clean Code
                </h2>
                <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/features/features-icon-5.png" alt="features" class="features__image">
                <h2 class="features__title">
                    Ready To Ship
                </h2>
                <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/features/features-icon-6.png" alt="features" class="features__image">
                <h2 class="features__title">
                    Download for Free
                </h2>
                <p class="features__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
        </div>

    </div>
    <!-- [2] Features End -->

    <!-- [3] Works -->
    <div class="container-fluid works px-0">

        <div class="row mx-0">

            <div class="col-md-3 px-0">
                <img src="/img/works/works-img-1.png" alt="works" class="works__image">
            </div>

            <div class="col-md-3 px-0">
                <img src="/img/works/works-img-2.png" alt="works" class="works__image">
            </div>

            <div class="col-md-3 px-0">
                <img src="/img/works/works-img-3.png" alt="works" class="works__image">
            </div>

            <div class="col-md-3 px-0">
                <img src="/img/works/works-img-8.png" alt="works" class="works__image">
            </div>

        </div>

        <div class="row mx-0">

            <div class="col-md-3 px-0">
                <img src="/img/works/works-img-5.png" alt="works" class="works__image">
            </div>

            <div class="col-md-3 px-0">
                <img src="/img/works/works-img-6.png" alt="works" class="works__image">
            </div>

            <div class="col-md-3 px-0">
                <img src="/img/works/works-img-7.png" alt="works" class="works__image">
            </div>

            <div class="col-md-3 px-0">
                <img src="/img/works/works-img-8.png" alt="works" class="works__image">
            </div>

        </div>

    </div>
    <!-- [3] Works End -->

    <!-- [4] Our Team -->
    <div class="container team">

        <div class="row">

            <div class="col-md-3">
                <div class="card" style="width: 16.88rem;">
                    <img class="card-img-top" src="/img/team/team-img-1.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="team__title">
                            <h3 class="card-title team__name">Ruth Woods</h3>
                            <h4 class="card-title team__position">Founder, CEO</h4>
                        </div>
                        <p class="card-text team__desc">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu
                            leo.
                        </p>
                        <div class="team__socials">
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-facebook.png" alt="fb" class="team__socials--facebook team__socials--border">
                            </a>
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-twitter.png" alt="tw" class="team__socials--twitter team__socials--border">
                            </a>
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-linkedin.png" alt="li" class="team__socials--linkedin team__socials--border">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 16.88rem;">
                    <img class="card-img-top" src="/img/team/team-img-2.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="team__title">
                            <h3 class="card-title team__name">Timothy Reed</h3>
                            <h4 class="card-title team__position">Co-Founder, Developer</h4>
                        </div>
                        <p class="card-text team__desc">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu
                            leo.
                        </p>
                        <div class="team__socials">
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-facebook.png" alt="fb" class="team__socials--facebook team__socials--border">
                            </a>
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-twitter.png" alt="tw" class="team__socials--twitter team__socials--border">
                            </a>
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-linkedin.png" alt="li" class="team__socials--linkedin team__socials--border">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 16.88rem;">
                    <img class="card-img-top" src="/img/team/team-img-3.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="team__title">
                            <h3 class="card-title team__name">Victoria Valdez</h3>
                            <h4 class="card-title team__position">UI Designer</h4>
                        </div>
                        <p class="card-text team__desc">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu
                            leo.
                        </p>
                        <div class="team__socials">
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-facebook.png" alt="fb" class="team__socials--facebook team__socials--border">
                            </a>
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-twitter.png" alt="tw" class="team__socials--twitter team__socials--border">
                            </a>
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-linkedin.png" alt="li" class="team__socials--linkedin team__socials--border">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 16.88rem;">
                    <img class="card-img-top" src="/img/team/team-img-4.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="team__title">
                            <h3 class="card-title team__name">Beverly Little</h3>
                            <h4 class="card-title team__position">Data Scientist</h4>
                        </div>
                        <p class="card-text team__desc">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu
                            leo.
                        </p>
                        <div class="team__socials">
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-facebook.png" alt="fb" class="team__socials--facebook team__socials--border">
                            </a>
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-twitter.png" alt="tw" class="team__socials--twitter team__socials--border">
                            </a>
                            <a href="#" class="team__socials--link">
                                <img src="/img/team/team-icon-linkedin.png" alt="li" class="team__socials--linkedin team__socials--border">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- [4] Our Team -->

    <!-- [5] Testimonials -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="/img/testimonials/testimonials-img.png" alt="testimonials">
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <!-- [5] Testimonials End -->

    <!-- jQuery, Popper.js, Bootstrap 4 -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/script.js"></script>

</body>

</html>